[Unit]
Description=Clinica Dental app

[Service]
WorkingDirectory=/srv/clinica-dental
ExecStart=/usr/bin/java -jar target/final-project-0.0.1-SNAPSHOT.jar
Type=simple
Restart=on-failure
RestartSec=10
User=webapp
Group=webapp

[Install]
WantedBy=multi-user.target
